# web app
/app/src/main/web/node_modules
/app/src/main/web/build
/app/src/main/web/.vscode
/app/src/main/web/.gradle
/app/src/main/web/package-lock.json

*.iml
.gradle
/.idea

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
